.wrapper {
  min-height: 100%;
}

#title {
  font-size: calc(6vw + 6 * ((100vw - 600px) / 1000));
  margin-bottom: calc(0.5rem - 0.1vh);

}

.keyword {
  color: #ca3700fa;
}

/* handle styling for larger/desktop viewports */

@media only screen  and (min-width : 660px) {
  .rotate {
    display: none;
  }
  
  h2 {
    text-align: center;
    font-size: xxx-large;
    font-size: -webkit-xxx-large;
    color: rgb(0, 43, 2);
  }

  .btn {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    height: 6.5vh;
    width: 11vw;
    border-radius: 0.75vh;
    margin-right: 1vw;
}

  /* ~pages~ styling */
  #about, #whatIdo, #projects, #contact {
    padding: 2rem 0;
  }

  /* nav bar styling */

  .nav-bar-container {
    display: flex;
    position: fixed;
    top: 0;
    height: 75px;
    width: 100vw;
    background-color: rgb(255, 255, 255, .95);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    justify-content: flex-end;
  }

  .nav-menu {
    display: flex;
    padding-right: 1.7rem;
    margin-right: 1%;
  }

  .nav-link-div {
    padding: 1.7rem 1rem 1.7rem; 
  }

  /* //#############################nav-about {
    padding-bottom: color;
  } */

  .nav-link {
    font-family: 'Lato', sans-serif;
    letter-spacing: .15rem;
    color: rgb(0, 43, 2);
    text-decoration: none;
    font-size: medium;
    padding: 1.5rem 1rem 1.7rem;
    transition: transform .5s ease;
  } 

  .nav-link:hover {
    background-color: rgba(255, 213, 136, 0.541);
    margin: 5px 0;
    
  } .nav-link:active {
    background-color: #FD5523;
    color: whitesmoke;
  }

  #nav-contact {
    color: #FD5523;

  } .nav-contact:active {
    color: whitesmoke;
  }
  
  /* main page styling */

  .main-container {
      height: 90vh;
      padding-left: calc(3vw + 3 * ((100vw - 600px) / 1000));
      text-align: center;
      background-image: url('../r.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: -31px;
  }

  #main {
    padding-top: 71px;
  }
  
  #title {
    padding-top: 15vh;
   }

  #typist {
    font-weight: bolder;
    font-size: calc(2vw + 6 * ((100vw - 600px) / 1000));
    
  }

  .Cursor--blinking {
    font-size: calc(2vw + 6 * ((100vw - 600px) / 1000));
    font-weight: 500;
    color: #FD5523;
  }

  #typist, #title {
    color: rgb(3, 29, 0);
    text-shadow: 2px 2px 5px rgb(164,191,118);
  }

  .buttons-container {
    margin-top: calc(0.5rem + 2vh);
    padding-top: calc(0.5rem + 2vh);  
  }

  #main-btn {
    background-color: #FD5523;
    border-color: #FD5523;
    color: white;
    width: 12vw;
    border: none;
    margin-left: 1vw;
    
  }   #main-btn:hover {
          background-color: #b4340d;
      }

  #resume-btn {
    background-color: rgb(255, 251, 230);
    color: rgb(0, 43, 2);
    border-color: rgb(0, 43, 2);
    width: 9vw;
    margin-right: 4vw;
    font-size: 14px;
  } #resume-btn:hover {
    background-color: #A4BF76;
    color: rgb(0, 43, 2);
    border-color: rgb(0, 43, 2);
  }

  #download {
    height: 35%;
    padding-top: 0px;
    margin-right: 4%;
  }

  #resume, #download {
    flex-wrap: no-wrap;
  }

  .social-container {
    margin-top: 2%;
  }

  .main-link {
    margin: 0 1.25vw;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: inline-block;
  }

  .main-icon {
    width: 30px;
    height: auto;

  }   .social:hover {
          transform: translateY(-.125rem);
      }
    
  .mouse-icon {
    position: relative;
    margin: auto;
    margin-top: 5vh;
    width :34px;
    height: 55px;
  }
  
  .mouseY {
    width: 5px;
    padding: 10px 14px;
    height: 40px;
    border: 2px solid rgb(0, 43, 2);
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
     /*  view more to #sbout z(?), mouse icon color & scroll to top  */


  .mouse-scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: rgb(0, 43, 2);
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }

  /* #mouse-icon {
    height: 230px;
    width: 195px;
  } */
  
  /* about page styling */
  #about {
     margin-top: 2rem;
  }
  
  .about-sections-container {
    display: flex;
    flex: 2 1;
    justify-content: center;
  }

  #about-left {
    background-color: #FD5523;
    color: white
  }

  #about-right {  
    background-color: rgba(255, 213, 136, 0.541);
    color: rgb(0, 43, 2);
    min-width: 30%;
  }

  .about-section > p {
    line-height: 1.4;
  }

  .about-resume-btn {
    padding-top: 1.25rem;
    text-transform: uppercase;
    margin-top: 3%;
  }

  #resume {
    text-transform: uppercase;
    background-color: rgb(185,228,201);
    font-size: large;
    margin-top: 2%;

  }   #resume:hover {
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(185,228,201,1) 100%);
        font-size: larger;

      }   #resume:active, #resume:visited {
            border-style: solid;
            border-width: .01em;
            border-color: rgb(0, 43, 2);
          }

  .about-list-titles {
    font-weight: bold;
    padding-right: .5rem;
    font-family: 'Lato';
  }

    /* what I do page styling */

    .strength-cards-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: 3%;
      margin: 0 2%;
    }
    .strength-card {
      color: rgb(0, 43, 2);
      padding: 2rem;
    }

    .strength-title {
      font-size: 18px;
      font-weight: 500;
    }

    .strength-icon {
      height: 4.5rem;
      width: auto;
      transition: transform .5s ease;

    } .strength-icon:hover {
          transform: scale(1.15);
          cursor: zoom-in;
      }

    .odd {
      background-color: rgb(185, 228, 201, .3);
    }

    .card-text {
      line-height: 1.5;
      font-size: 15px;
      font-weight: 300;
    }

    /* projects page styling */

  #projects {
    padding-top: 3rem;
    background-image: url('../pages/projects/light-bckgrnd.png');
  }

  .about-section {
    padding: 2rem;
  }

  .project-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem 0;
  }
  .project-card {
    width: 16.25rem;
    padding: .25rem 1rem;
    margin-top: 1rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: rgb(255, 251, 230);
    color: rgb(0, 43, 2);
    border-radius: 1.3rem;
    margin: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-width: .1rem;
    border-color: rgb(0, 43, 2);
    box-shadow: rgba(0, 43, 2, 0.05) 0px 1px 0px, rgba(0, 43, 2, 0.1) 0px 0px 8px;

  } .project-card:hover {
        box-shadow: #A4BF76 0px 4px 16px, #A4BF76 0px 8px 32px;
  }

  .project-description {
    color: rgb(92, 121, 66);
  }

  #project-card-bttm {
    padding-bottom: 1rem;
}

  .tag {
    width: max-content;
    background-color: #A4BF76;
    padding: 4px 5px;
    font-size: 12px;
    font-family: 'Lato', 'sans-serif';
    text-transform: uppercase;
    border-radius: 3px;
    letter-spacing: 0.15em;
  }
  .tag-icon {
    width: 12px;
    height: 10px;
    padding-right: 1px;
  }

  .view-code-link {
    color: #FD5523;
    font-family: 'Lato', sans-serif;
    letter-spacing: .15rem;
    text-decoration: none;
    
  } .view-code-link:hover {
    text-decoration: underline;
    
  } .view-code-link:active {
    color: rgb(0, 43, 2);
  }

      /* contact page styling */

      #contact {
        text-align: center;
      }

      #contact-hdr {
        margin: 2rem 0px 1rem 0px;
      }

      #contact-hdr, #contact-subhdr {
        color: #FD5523;
      }

      #contact-subhdr {
        padding-bottom: 1rem;
      }

      #contact-icon {
        width: 2vw;
      }

      form {
        background-color: rgb(255, 251, 230);
        margin: 1% auto;
        width: 30vw;
        border-radius: 2.5%;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border-style: solid;
        border-width: .01em;
        border-color: lightgray;
        color: rgb(3, 29, 0);
        padding: 2rem;
        max-width: 30rem;
      }

      #submit {
        margin-top: 1vh;
        margin-bottom: 1vh;
        color: #FD5523;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 3px rgb(128 128 128), 0px 4px rgb(118 114 118), 0px 5px rgb(108 108 108), 0px 6px rgb(98 98 98), 0px 7px rgb(88 88 88), 0px 8px rgb(78 78 78), 0px 14px 6px -1px rgb(128 128 128);
        box-shadow: 0px 3px rgb(128 128 128), 0px 4px rgb(118 114 118), 0px 5px rgb(108 108 108), 0px 6px rgb(98 98 98), 0px 7px rgb(88 88 88), 0px 8px rgb(78 78 78), 0px 14px 6px -1px rgb(128 128 128);
        -webkit-transition: -webkit-box-shadow .1s ease-in-out;
        transition: -webkit-box-shadow .1s ease-in-out;
        background-color: transparent;
        border-color: #FD5523;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        border-radius: 0.75rem;
        margin-left: 1vw;
        margin-right: 1vw;
        padding: 3% 20% !important;

      } #submit:hover {
          border-color: #FD5523;
          background-color: #FD5523;
          color: white;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 6px -2px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }


    .req {
      color: red;
    }
    
    input, textarea {
      margin-left: 0px;
      margin-bottom: 3%;
      margin-top: 1.25%;
      padding: .5rem 0 .5rem .5rem;
      border-radius: .2rem;
      border-style: solid;
      color: rgb(0, 43, 2);
      font-family: 'Fira Sans', sans-serif;

    } input:hover, textarea:hover {
      border-color: #A4BF76;
  
    }   input:active, input:focus, 
          textarea:active, textarea:focus, textarea:focus-within, textarea:target  {
        border-color: #FD5523;
        outline: #FD5523;
        font-family: 'Fira Sans', sans-serif;
        

    }   input::placeholder, textarea::placeholder {
        font-family: 'Fira Sans', sans-serif;
        color:  #a4bf76cb

    }
    .form-item {
      display: flex;
      flex-direction: column;
      text-align: justify;
    }

      /* footer page styling */

  footer {
    background: rgb(164,191,118);
    background: linear-gradient(0deg, rgba(164,191,118,1) 0%, rgba(164,191,118,1) 17%,
                               rgba(168,194,123,1) 36%, rgba(175,199,134,1) 47%,
                               rgba(226,234,211,1) 68%, rgba(236,241,226,1) 79%, rgba(255,255,255,1) 90%);
    color: rgb(3, 29, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1% 0;

  }

  #footer-link-line {
    margin-bottom: 1%;

  }
  .footer-icon {
    width: 30px;
    height: auto;
    margin-top: 5px;
    margin: 0 2vw;
  }
  .arrow {
    background-color: #FD5523AA !important;
    width: 3.2rem;
    height: auto;
    border-radius: 10%;
    position: fixed;
  } .arrow:hover {
    background-color: #FD5523 !important;
  }

  footer > p {
    margin-bottom: 0;
  }
  #flaticon, .keyword {
    text-decoration: none;
  }

  #flaticon:visited, #flaticon:hover, #flaticon:active,
  .keyword:visited, .keyword:hover, .keyword:active {
    color: #FD5523;
    text-decoration: underline;
  }

  .viewing {
      border-bottom:3px solid #FD5523;
  }
}

/* handle styling for small device viewports */

@media only screen  and (max-width : 660px) {
  body {
    background: rgb(252,225,171);
    background: radial-gradient(circle, rgba(252,225,171,0.62) 1%, rgba(252,241,171,0.62) 16%, rgba(229,252,220,0.74) 98%);
   }
  .rotate {
    text-align: center;
    display: block;
    margin-top: 20vh;
  }

  #rotate-img {
    display: block;
    width: 50%;
    margin: 4vh auto 4vh auto;
  }

  #rotate-text {
    padding: 0 2em 0 2em;
  }

  .App {
    display: none;
  }
}
