.wrapper {
  min-height: 100%;
}

#title {
  font-size: calc(6vw + 6 * ((100vw - 600px) / 1000));
  margin-bottom: calc(0.5rem - 0.1vh);

}


/* handle styling for larger/desktop viewports */

@media only screen  and (min-width : 625px) {

  
  #typist {
    font-weight: bolder;
    font-size: calc(2vw + 6 * ((100vw - 600px) / 1000));
  }

  h2 {
    text-align: center;
  }

  button {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    height: 6.5vh;
    width: 11vw;
    border-radius: 0.75vh;
}
  
  /* nav bar styling */

  .nav-bar-container {
    display: flex;
    position: fixed;
    top: 0;
    height: 75px;
    width: 100vw;
    background-color: rgb(255, 255, 255, .95);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    justify-content: flex-end;
  }

  .nav-menu {
    display: flex;
    padding-right: 1.7rem;
    margin-right: 1%;
  }

  .nav-link-div {
    padding: 1.7rem 1rem 1.7rem; 
  }

  .nav-link {
    font-family: 'Lato', sans-serif;
    letter-spacing: .15rem;
    color: rgb(0, 43, 2);
    text-decoration: none;
    
  } .nav-link:hover {
    background-color: rgba(255, 213, 136, 0.541);
    margin: 5px 0;
    
  } .nav-link:active {
    background-color: #FD5523;
    color: whitesmoke;
  }

  #nav-contact {
    color: #FD5523;
  }
  
  /* main page styling */

  .main-container {
      height: 50vh;
      padding-left: calc(3vw + 3 * ((100vw - 600px) / 1000));
      text-align: center;
      background-image: url('../r.jpg');
      background-repeat: no-repeat;
  }

  .buttons-container {
    margin-top: calc(0.5rem + 1vh);
  }
  #typist, #title {
    color: rgb(3, 29, 0);
    text-shadow: 2px 2px 5px rgb(164,191,118);
  }

  #main-btn {
    background-color: #FD5523;
    border-color: #FD5523;
    color: white;
  }

  #resume-btn {
    background-color: rgb(255, 251, 230);
    color: rgb(0, 43, 2);
    border-color: rgb(0, 43, 2);
  } #resume-btn:hover {
    background-color: #A4BF76;
    color: rgb(0, 43, 2);
    border-color: rgb(0, 43, 2);
  }

  /* about page styling */

  .about-container {
  }
  
  .about-sections-container {
    display: flex;
    flex: 2 1;
    justify-content: center;
  }

  #about-left {
    background-color: #FD5523;
    color: white
  }

  #about-right {  
    background-color: rgba(255, 213, 136, 0.541);
    color: rgb(0, 43, 2);
  }



  .about-resume-link {
    padding-top: 1.25rem;
    margin-left: 3rem;
  }

  .about-list-titles {
    font-weight: bold;
    padding-right: .5rem;
  }

    /* what I do page styling */

    .strength-cards-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
    .strength-card {
      color: rgb(0, 43, 2);
      padding: 2rem;
    }

    .strength-title {
      font-size: 18px;
      font-weight: 400;
    }

    .strength-icon {
      height: 4.5rem;
      width: auto;
    }

    .odd {
      background-color: rgb(185, 228, 201, .3);
    }

    .card-text {
      line-height: 1.5;
      font-size: 15px;
      font-weight: 300;
    }

    /* projects page styling */

  #projects {
    padding-top: 3rem;
    background-image: url('../pages/projects/light-bckgrnd.jpg');
    padding: 3rem 0;
  }

  section {
    padding: 2rem;
  }

  .project-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .project-card {
    max-width: 16.25rem;
    padding: 0px 1rem;
    margin-top: 1rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: rgb(255, 251, 230);
    color: rgb(0, 43, 2);
    border-radius: 1.3rem;
    margin: 1rem 0;
  } .project-card:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }

  .project-description {
    color: rgb(92, 121, 66);
  }

  #project-card-bttm {
    padding-bottom: 1rem;
}

  .tag {
    width: max-content;
    background-color: #A4BF76;
    padding: 4px 5px;
    line-height: 0.9;
    line-height: 0.9;
    font-size: 12px;
    font-family: 'Lato', 'sans-serif';
    text-transform: uppercase;
    border-radius: 3px;
    letter-spacing: 0.15em;
  }

  .view-code-link {
    color: #FD5523;
    font-family: 'Lato', sans-serif;
    letter-spacing: .15rem;
    text-decoration: none;
    
  } .view-code-link:hover {
    text-decoration: underline;
    
  } .view-code-link:active {
    color: rgb(0, 43, 2);
  }

      /* contact page styling */

      #contact {
        text-align: center;
      }

      #contact-hdr, #contact-subhdr {
        color: rgb(3, 29, 0);
      }

      form {
        background-color: rgb(255, 251, 230);
        margin: 1% auto;
        width: 30vw;
        border-radius: 2.5%;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border-style: solid;
        border-width: .01em;
        border-color: lightgray;
        color: rgb(3, 29, 0);
        padding: 2rem;
        max-width: 30rem;
      }

      #submit {
        height: 2rem;
        color: #FD5523;
        background-color: transparent;
        border-color: #FD5523;

      } #submit:hover {
          border-color: #FD5523;
          background-color: #FD5523;
          color: white;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 6px -2px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }


    .req {
      color: red;
    }
    
    input, textarea {
      margin-left: 0px;
      margin-bottom: 3%;
      margin-top: 1.25%;
      padding: .5rem 0 .5rem .5rem;
      border-radius: .2rem;
      border-style: solid;
      

    } input:hover, textarea:hover {
      border-color: #A4BF76;
  
    } input:active, input:focus, textarea:active, textarea:focus {
        border-color: #FD5523;
        font-family: 'Fira Sans', sans-serif;

    } input::placeholder, textarea::placeholder {
        font-family: 'Fira Sans', sans-serif;

    }
    .form-item {
      display: flex;
      flex-direction: column;
      text-align: justify;
    }

      /* footer page styling */

  footer {
    background: rgb(164,191,118);
    background: linear-gradient(0deg, rgba(164,191,118,1) 0%, rgba(164,191,118,1) 17%,
                               rgba(168,194,123,1) 36%, rgba(175,199,134,1) 47%,
                               rgba(226,234,211,1) 68%, rgba(236,241,226,1) 79%, rgba(255,255,255,1) 90%);
    color: rgb(3, 29, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1% 0;

  }
  #footer-link-line {
    margin-bottom: 1%;

  }
  .footer-icon {
    width: 40px;
    height: auto;
    margin-top: 5px;
  }

  #github {
    margin-left: 42px;
  }

  #arrow {
    background-color: #FD5523;
    width: 3.2rem;
    height: auto;
    border-radius: 100%;
    position: fixed;
    right: 55px;
    bottom: 80px;
  } #arrow:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
                 rgba(17, 17, 26, 0.1) 0px 8px 24px,
                  rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }

  footer > p {
    margin-bottom: 0;
  }
}

/* handle styling for small device viewports */

@media only screen  and (max-width : 450px) {
  .strengths-card-container {
    flex-wrap: wrap;
  }
}
