#title {
  font-size: calc(6vw + 6 * ((100vw - 600px) / 1000));
  margin-bottom: calc(0.5rem - 0.1vh);

}

.nav-link {
  font-family: 'Lato', sans-serif;
  letter-spacing: .15rem;
  
}

/* handle styling for larger/desktop viewports */

@media only screen  and (min-width : 625px) {

  #typist {
    font-weight: bolder;
    font-size: calc(2vw + 6 * ((100vw - 600px) / 1000));
  }

  h2 {
    text-align: center;
  }

  button {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    height: 5vh;
    width: 11vw;
    border-radius: 0.75vh;
}
  
  /* nav bar styling */

  .nav-bar-container {
    display: flex;
    position: sticky;
    top: 0;
    height: 75px;
    background-color: rgb(44, 5, 5);
    justify-content: flex-end;
  }

  .nav-menu {
    display: flex;
    padding-right: 1.7rem;
  }

  .nav-link-div {
    padding: 1.7rem 1rem 1.7rem;
    
  }

  /* main page styling */

  .main-container {
      height: 50vh;
      padding-left: calc(3vw + 3 * ((100vw - 600px) / 1000));
      text-align: center;
  }

  .buttons-container {
    margin-top: calc(0.5rem + 1vh);
  }
  #typist, #title {
    color: #1E4F00;
  }

  /* about page styling */

  .about-container {
    height: 70vh;
  }
  
  .about-sections-container {
    display: flex;
    flex: 2 1;
  }

  #about-left {
    background-color: #FD5523;
    color: white
  }

  #about-right {  
    background-color: rgba(255, 213, 136, 0.541);
  }

  .about-resume-link {
    padding-top: 1.25rem;
    margin-left: 3rem;
  }

    /* what I do page styling */

    .strength-cards-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      background-color: rgb(175, 252, 255, .4);
    }
    .strength-card {
      padding: 2rem;
    }

    .strength-icon {
      height: 4.5rem;
      width: auto;
    }

    .odd {
      background-color: rgb(255, 251, 230);
    }

    /* projects page styling */

  #projects {
    padding-top: 3rem;
  }

  section {
    padding: 2rem;
  }

  .project-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .project-card {
    max-width: 16.25rem;
    padding: 0px 1rem;
    box-shadow: 6px 5px 5px rgb(0, 43, 2);
  }

      /* contact page styling */

      #contact {
        text-align: center;
      }

      form {
        background-color: rgb(255, 251, 230);
        margin: 1% auto;
        width: 30vw;
        border-radius: 2.5%;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border-style: solid;
        border-width: .01em;
        border-color: lightgray;
        color:rgb(3, 29, 0);
        padding: 2rem;
      }
      #submit {
        height: 2rem;
      }
    .req {
      color: red;
    }
    
    input, textarea {
      margin-left: 0px;
      margin-bottom: 3%;
      margin-top: 1.25%;
    }
      
    .form-item {
      display: flex;
      flex-direction: column;
      text-align: justify;
    }

      /* projects page styling */


      /* footer page styling */

  footer {
    background: rgb(3, 29, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;

  }

}
/* handle styling for small device viewports */

@media only screen  and (max-width : 450px) {
  .strengths-card-container {
    flex-wrap: wrap;
  }
}
